@font-face {
  font-family: "WorkSans-Bold";
  src: url("../fonts/WorkSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-SemiBold";
  src: url("../fonts/WorkSans-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Medium";
  src: url("../fonts/WorkSans-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Regular";
  src: url("../fonts/WorkSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

// FONTS VARIABLES

$h1-font: "WorkSans-Bold";
$h2-font: "WorkSans-SemiBold";
$h3-font: "WorkSans-Medium";
$text-font: "WorkSans-Regular";
