@font-face {
  font-family: "product_sans_regular";
  src: url("../../../assets/fonts/product_sans/ProductSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "product_sans_bold";
  src: url("../../../assets/fonts/product_sans/ProductSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "product_sans_italic";
  src: url("../../../assets/fonts/product_sans/ProductSans-Regular-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "product_sans_bold_italic";
  src: url("../../../assets/fonts/product_sans/ProductSans-Bold-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}
