// VARIABLES COLORS

$background-color: #f3f3f3;
$brand-background-color: #ececec;

//GLOBALS SETTINGS
//1em = 16px;
* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-size: 14px;

  @include medium {
    font-size: 20px;
  }
}

h1 {
  font-family: $h1-font;
  font-size: 2em;

  @include medium {
    font-size: 2.2em;
  }

  @include desktop {
    font-size: 2.8em;
  }
}

h2 {
  font-family: $h2-font;
  font-size: 1.45em;

  @include medium {
    font-size: 1.6em;
  }

  @include desktop {
    font-size: 2em;
  }
}

h3 {
  font-family: $h3-font;
  font-size: 1.2em;

  @include medium {
    font-size: 1.4em;
  }

  @include desktop {
    font-size: 1.6em;
  }
}

p {
  font-family: $p-font;
  font-size: 1em;

  @include medium {
    font-size: 0.7em;
  }
}

.header__brand {
  font-family: $brand-font;
  font-size: 2em;

  @include medium {
    font-size: 2.2em;
  }
}

.cta {
  font-family: $cta-font;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 8px 15px;
  border: 1px solid #2f2f2f;

  @include medium {
    font-size: 24px;
    padding: 14px 45px;
  }

  @include desktop {
    font-size: 1.2em;
    padding: 21px 75px;
  }
}

.menu {
  font-family: $menu-font;
  font-size: 0.5em;

  @include medium {
    font-size: 0.9em;
  }
}
.p-card {
  font-family: $p-card-font;
  font-size: 0.8em;

  @include medium {
    font-size: 1.5em;
  }
}
