@keyframes appear {
  30% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.artist {
  display: flex;
  flex-direction: column;
  opacity: 0;

  &.here {
    animation: appear 0.5s forwards;
  }

  @include medium {
    flex-direction: row-reverse;
  }

  .artist__text {
    display: flex;
    flex-direction: column;
    padding: 10%;

    @include medium {
      justify-content: space-between;
      width: 55%;
      padding: 5% 8%;
      height: 70vh;
    }

    h2 {
      text-transform: uppercase;
      padding-bottom: 10%;

      em {
        color: #bc6907;
      }

      @include medium {
        padding: 0;
      }
    }

    p {
      line-height: 150%;
      padding-bottom: 10%;

      @include medium {
        padding: 0;
        width: 90%;
      }
    }
  }

  .artist__pictures {
    display: flex;
    flex-direction: column;

    @include medium {
      width: 45%;
      height: 70vh;
    }

    .artist__murciano {
      width: 100vw;
      height: 40vw;
      object-fit: cover;

      @include medium {
        width: 45vw;
        height: 50%;
      }
    }

    .artist__paintings {
      height: 40vw;
      display: flex;
      background-color: black;

      @include medium {
        width: 45vw;
        height: 50%;
      }
    }

    .artist__painting {
      width: 33.3%;
      object-fit: cover;
      object-position: top;
    }
  }
}
