.artist {
  display: flex;
  flex-direction: column;

  @include medium {
    flex-direction: row-reverse;
  }

  .artist__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;

    @include medium {
      width: 55%;
      padding-left: 8%;
      padding-right: 8%;
    }

    h2 {
      text-transform: uppercase;

      em {
        color: #bc6907;
      }

      @include medium {
        text-transform: initial;
      }
    }

    p {
      line-height: 150%;

      @include medium {
        font-size: 20px;
      }
    }

    button {
      background-color: transparent;
      width: 70%;
      padding: 6px 11px;

      @include medium {
        width: 90%;
      }
    }
  }

  .artist__pictures {
    display: flex;
    flex-direction: column;

    @include medium {
      width: 45%;
    }

    .artist__murciano {
      width: 100vw;
      height: 30vw;
      object-fit: cover;

      @include medium {
        width: 45vw;
      }
    }

    .artist__paintings {
      height: 30vw;
      display: flex;
      background-color: black;

      @include medium {
        width: 45vw;
      }
    }

    .artist__painting {
      width: 33.3%;
      object-fit: cover;
      object-position: top;

      @include medium {
      }
    }
  }
}
