.creation {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;

  &__content {
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__imgs {
    max-height: 50%;
    max-width: 80%;
    display: flex;
  }

  &__img {
    height: 300px;
    width: auto;
    display: none;

    &--visible {
      display: block;
    }
  }

  &__changes {
    width: 35vw;
    height: 90vh;
  }

  &__buttons {
    width: 400px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: flex;
    justify-content: space-evenly;
    user-select: none;
  }

  &__step {
    width: 120px;
    height: 100%;
    display: none;
    &--visible {
      display: block;
      cursor: pointer;
      border: 1px solid black;
    }
  }

  &__changes {
    display: flex;
    flex-direction: column;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.25);
  }

  &__choice {
    width: 100%;
    height: 60px;
    background: black;
    margin: 0;
    border-bottom: 1px white solid;
    display: flex;
    justify-content: space-between;
  }

  &__change {
    display: none;

    &--visible {
      height: 200px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      margin-top: -1px;
    }
  }

  &__title {
    color: white;
    transform: translateY(25%);
    margin-left: 3%;
  }

  &__arrowDown {
    width: 40px;
    height: 40px;
    transform: translateY(25%);
  }

  &__clothes {
    width: 60px;
    height: 60px;
  }

  &__color {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: yellow;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

    &:nth-child(2) {
      background-color: black;
    }
    &:nth-child(3) {
      background-color: green;
    }
    &:nth-child(4) {
      background-color: brown;
    }
    &:nth-child(5) {
      background-color: blue;
    }
    &:nth-child(6) {
      background-color: white;
    }
  }

  &__custom {
    display: flex;
    justify-content: space-evenly;
    height: 60px;

    &--modifier {
      height: 120px;
    }
  }

  &__pocket {
    width: 45px;
    height: 50px;
  }

  &__painting {
    width: 90px;
    height: 120px;
  }

  &__input {
    height: 50px;
    font-size: 20px;
    width: 150px;
  }

  &__paragraph {
    margin-left: 15px;
  }

  &__okbtn {
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    text-align: center;
    width: 100px;
    cursor: pointer;
  }

  &__recap {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr 1fr;
    grid-template-areas:
      "title1 recap1"
      "title2 recap2"
      "title3 recap3"
      "title4 recap4"
      "title5 recap5"
      "title6 recap6";
  }

  &__backimg {
    width: 30px;
    height: auto;
    grid-area: recap4;
    align-self: center;
  }

  &__recapp {
    align-self: center;
    grid-area: title1;

    &:nth-child(2) {
      grid-area: title2;
    }
    &:nth-child(3) {
      grid-area: title3;
    }
    &:nth-child(4) {
      grid-area: title4;
    }
    &:nth-child(5) {
      grid-area: title5;
    }
    &:nth-child(6) {
      grid-area: recap1;
      margin: 0;
    }

    &:nth-child(8) {
      grid-area: recap3;
      margin: 0;
    }
    &:nth-child(9) {
      grid-area: recap5;
      margin: 0;
    }
    &:nth-child(11) {
      grid-area: title6;
    }
    &:nth-child(12) {
      grid-area: recap6;
      margin: 0;
    }
  }

  &__recapcolors {
    align-self: center;
    grid-area: recap2;
    display: flex;
    width: 15%;
    height: 20px;
    justify-content: space-between;
  }

  &__recapcolor {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: blue;
    &:nth-child(1) {
      background-color: brown;
    }
  }
}

#validate {
  border: 3px solid green;
}

#navperso {
  text-decoration: underline;
}

#signature {
  height: auto;
  width: 240px;
}

a {
  text-decoration: none;
  color: $primary-color-black;
}
