.custom {
  margin-top: 2.5vh;
  padding: 5vh 0 5vh 0;
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 95vh;

  div {
    display: flex;
    justify-content: space-around;
    overflow: hidden;

    img {
      max-width: 100%;

      @include medium {
        max-width: 50%;
      }
    }

    .jacket__man {
      display: none;

      @include medium {
        display: block;
      }
    }
  }

  button {
    background-color: #c4c4c4;
  }
}
