@keyframes swipeDown {
  0% {
    transform: translateY(0px);
    opacity: O;
  }
  100% {
    transform: translateY(10px);
    opacity: 1;
  }
}

.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: url("../../assets/perf-hero.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 10vh;

  @include medium {
    background: url("../../assets/perf-danaerys.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right -300px bottom;
  }

  @media (min-width: 900px) {
    background-size: contain;
  }

  @include desktop {
    height: 90vh;
    margin-top: 10vh;
    padding-bottom: 0;
    background-position: right -150px bottom;
  }

  .hero__logo {
    max-width: 13%;
    align-self: center;
    padding: 7% 0 7% 0;

    @include medium {
      display: none;
    }
  }
  .hero__text {
    padding: 0 10%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include big-phone {
      justify-content: space-around;
    }

    @include medium {
      width: 70%;
      height: 70vh;
      justify-content: space-around;
      margin-top: 3%;
    }

    @include desktop {
      padding-left: 8%;
      width: 70%;
    }

    h1 {
      line-height: 130%;
      width: 70%;

      @include big-phone {
        line-height: 140%;
      }

      @include medium {
        width: 100%;
      }
    }

    h3 {
      line-height: 150%;
      width: 50%;

      @include big-phone {
        line-height: 160%;
      }

      @include medium {
        width: 90%;
      }

      @include desktop {
        width: 80%;
      }
    }
  }
  .hero__scroll--indication {
    display: none;

    @media (min-width: 960px) {
      display: flex;
      align-items: center;
      margin: 4% 0 3% 0;
      flex-direction: column;
      height: 5%;
      justify-content: space-between;

      img {
        margin-top: 10px;
      }

      a {
        text-decoration: none;
        color: $primary-color-black;
      }
    }
  }

  .hero__arrow--scroll {
    animation: swipeDown 1s infinite alternate;
    margin-top: 3%;
    width: 16px;
  }
}

.hero__background--text {
  font-size: 200px;
  font-family: $title-card;
  color: $brand-background-color;
  transform: rotate(-90deg);
  z-index: -2;
  position: absolute;
  left: -400px;
  top: 200px;

  @include medium {
    transform: rotate(0deg);
    left: -100px;
    font-size: 400px;
  }
}
