header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../../assets/perf-hero.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  img {
    max-width: 13%;
    align-self: center;
    padding-top: 7%;
    padding-bottom: 5%;
  }
  .header__text {
    padding-left: 10%;
    width: 84%;
    height: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      line-height: 150%;
    }

    h3 {
      line-height: 140%;
      width: 70%;
    }

    button {
      // width: 55%;
      background-color: transparent;
    }
  }
}

.background__text {
  font-size: 13.6em;
  font-weight: 600;
  color: $brand-background-color;
  transform: rotate(-90deg);
  z-index: -1;
  position: absolute;
  left: -240px;
  top: 200px;
  overflow: hidden;
}
