header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../../assets/perf-hero.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  @include medium {
    background: url("../../assets/perf-danaerys.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 400px bottom;
  }

  @include desktop {
    background-position: 500px bottom;
  }

  img {
    max-width: 13%;
    align-self: center;
    padding-top: 7%;
    padding-bottom: 7%;

    @include medium {
      display: none;
    }
  }
  .header__text {
    padding: 0 10%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include big-phone {
      justify-content: space-around;
    }

    @include medium {
      width: 80%;
      height: 70vh;
      justify-content: space-around;
      margin-top: 10%;
    }

    @include desktop {
      padding-left: 8%;
      width: 70%;
    }

    h1 {
      line-height: 130%;
      width: 70%;

      @include big-phone {
        line-height: 160%;
        font-size: 30px;
      }

      @include medium {
        line-height: 150%;
        width: 100%;
      }
    }

    h3 {
      line-height: 130%;
      width: 50%;

      @include big-phone {
        line-height: 160%;
        font-size: 20px;
      }

      @include medium {
        width: 90%;
        line-height: 150%;
      }

      @include desktop {
        width: 80%;
      }
    }

    button {
      width: 100%;
      font-size: 15px;
      padding: 15px 0;
      background-color: #f3f3f3;
      color: black;

      @include medium {
        background-color: transparent;
        color: black;
        padding: 14px 20px;
        width: 65%;
        font-size: 24px;
      }
    }
  }
  .scroll-indication {
    display: none;

    @include medium {
      display: flex;
      justify-content: center;
      margin-top: 5%;
    }
  }
}

.background__text {
  font-size: 13.6em;
  font-weight: 600;
  color: $brand-background-color;
  transform: rotate(-90deg);
  z-index: -1;
  position: absolute;
  left: -240px;
  top: 150px;
  overflow: hidden;
  display: none;
  @include medium {
    transform: rotate(0deg);
    display: none;
  }
}
